.tag-style{
    color: rgba(0,0,0,.85);
}
.tag-style{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: tnum;
    display: inline-block;
    height: auto;
    margin-right: 8px;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: default;
    opacity: 1;
    transition: all .3s cubic-bezier(.78,.14,.15,.86);
}
.still-term{
    color: #2f54eb;
    background: #f0f5ff;
    border-color: #adc6ff;
    text-transform: uppercase;
}
.expired{
    color: #fa541c;
    background: #fff2e8;
    border-color: #ffbb96;
    text-transform: uppercase;
}
.xanhla{
    color: #52c41a;
    background: #f6ffed;
    border-color: #b7eb8f;
    text-transform: uppercase;
}


.hiden-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    text-align: left;
    cursor: pointer;
}
.hiden-text p:active{
    overflow: visible;
    white-space: pre-line;
    width: 300px;
}

/*.class-product{
    overflow-y: scroll;
    height: 600px;
    mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}*/
.class-product{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
}
.card-body{
    float: left;
    animation: background 5s infinite alternate;
}
.edit{
    width: 40px;
}
.class-product::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    background-color: #F5F5F5;
}

.class-product::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.class-product::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}
.classs-style{
    margin-left: 10px;
    margin-top: 10px;
    width: 98%;
}